<section class="mt-5">
  <div class="min-h-screen flex justify-between items-center cusom_container">
    <div>
      <img src="assets/about_illustration.png" alt="" class="h-[500px]" />
    </div>
    <div>
      <div>
        <h3 class="font-montserrat text-4xl md:text-5xl lg:text-6xl">
          We Provide Many <br />
          Features You Can Use
        </h3>
        <p class="mt-10 text-gray-700 text-[20px]">
          You can explore the features that we provide with fun <br />
          and have their own functions each feature.
        </p>

        <ul class="mt-10">
          <li class="py-4">
            <div class="flex justify-start items-center">
              <img src="assets/tick.png" alt="" class="mr-5 h-[30px]" />
              <p class="text-gray-700 text-[20px]">Powerfull online protection</p>
            </div>
          </li>

          <li class="py-4">
            <div class="flex justify-start items-center">
              <img src="assets/tick.png" alt="" class="mr-5 h-[30px]" />
              <p class="text-gray-700 text-[20px]">Internet without borders</p>
            </div>
          </li>

          <li class="py-4">
            <div class="flex justify-start items-center">
              <img src="assets/tick.png" alt="" class="mr-5 h-[30px]" />
              <p class="text-gray-700 text-[20px]">Supercharged VPN</p>
            </div>
          </li>

          <li class="py-4">
            <div class="flex justify-start items-center">
              <img src="assets/tick.png" alt="" class="mr-5 h-[30px]" />
              <p class="text-gray-700 text-[20px]">No specific time limits</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
