<section class="mt-5">
  <div class="min-h-screen cusom-container">
    <div class="flex justify-center items-center">
      <h3 class="font-montserrat text-4xl md:text-5xl lg:text-6xl">Choose Your Plan</h3>
    </div>

    <div class="flex justify-center items-center">
      <p class="mt-5 text-gray-700">
        Let's choose the package that is best for you and <br />
        explore it happily and cheerfully.
      </p>
    </div>

    <div class="flex justify-between items-center mx-96">
      <div
        class="flex justify-center items-center mt-5 border-gray-700 p-10 rounded-lg"
        style="border: 2px solid #ccc5b9; height: 670px"
      >
        <div class="p-4">
          <img src="assets/plan.png" alt="" class="ml-5" />

          <h3 class="mt-4 font-montserrat text-center font-semibold">Free Plan</h3>

          <ul class="mt-5">
            <li class="flex justify-between items-center">
              <span class="mr-4" style="font-size: 20px">&#10004;</span> Unlimited Bandwidth
            </li>
            <li class="flex justify-between items-center">
              <span class="mr-4" style="font-size: 20px">&#10004;</span> Encrypted connection
            </li>
            <li class="flex justify-between items-center">
              <span class="mr-4" style="font-size: 20px">&#10004;</span> No Traffic Logs
            </li>
            <li class="flex justify-between items-center">
              <span class="mr-4" style="font-size: 20px">&#10004;</span> Works on all Devices
            </li>
          </ul>

          <div class="mt-14 text-center">
            <h3 class="font-montserrat font-semibold text-[22px]">Free</h3>
            <div class="mt-5">
              <a href="" class="navbutton"> Select </a>
            </div>
          </div>
        </div>
      </div>
      <div
        class="flex justify-center items-center mt-5 border-gray-700 p-10 rounded-lg"
        style="border: 2px solid #ccc5b9; height: 670px"
      >
        <div class="p-4">
          <img src="assets/plan.png" alt="" class="ml-5" />

          <h3 class="mt-4 font-montserrat text-center font-semibold">Standard Plan</h3>

          <ul class="mt-5">
            <li class="flex justify-between items-center">
              <span class="mr-4" style="font-size: 20px">&#10004;</span> Unlimited Bandwidth
            </li>
            <li class="flex justify-between items-center">
              <span class="mr-4" style="font-size: 20px">&#10004;</span> Encrypted connection
            </li>
            <li class="flex justify-between items-center">
              <span class="mr-4" style="font-size: 20px">&#10004;</span> Traffic Logs
            </li>
            <li class="flex justify-between items-center">
              <span class="mr-4" style="font-size: 20px">&#10004;</span> Works on all Devices
            </li>
            <li class="flex justify-between items-center">
              <span class="mr-4" style="font-size: 20px">&#10004;</span> Connect from anywhere
            </li>
          </ul>

          <div class="mt-14 text-center">
            <h3 class="font-montserrat font-semibold text-[22px]">
              $9 / <span class="text-gray-500 font-montserrat">mo</span>
            </h3>

            <div class="mt-5">
              <a href="" class="navbutton"> Select </a>
            </div>
          </div>
        </div>
      </div>
      <div
        class="flex justify-center items-center mt-5 border-gray-700 p-10 rounded-lg"
        style="border: 2px solid #ccc5b9; height: 670px"
      >
        <div class="p-4">
          <img src="assets/plan.png" alt="" class="ml-5" />

          <h3 class="mt-4 font-montserrat text-center font-semibold">Premium Plan</h3>

          <ul class="mt-5">
            <li class="flex justify-between items-center">
              <span class="mr-4" style="font-size: 20px">&#10004;</span> Unlimited Bandwidth
            </li>
            <li class="flex justify-between items-center">
              <span class="mr-4" style="font-size: 20px">&#10004;</span> Encrypted connection
            </li>
            <li class="flex justify-between items-center">
              <span class="mr-4" style="font-size: 20px">&#10004;</span> Traffic Logs
            </li>
            <li class="flex justify-between items-center">
              <span class="mr-4" style="font-size: 20px">&#10004;</span> Works on all Devices
            </li>
            <li class="flex justify-between items-center">
              <span class="mr-4" style="font-size: 20px">&#10004;</span> Connect from anywhere
            </li>
            <li class="flex justify-between items-center">
              <span class="mr-4" style="font-size: 20px">&#10004;</span> Get new Features
            </li>
          </ul>

          <div class="mt-20 text-center">
            <h3 class="font-montserrat font-semibold text-[22px]">
              $12 / <span class="text-gray-500 font-montserrat">mo</span>
            </h3>

            <div class="mt-5">
              <a href="" class="navbutton"> Select </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
