<section class="mt-5">
  <div class="min-h-screen cusom-container">
    <div class="flex justify-center items-center">
      <h3 class="font-montserrat text-4xl md:text-5xl lg:text-6xl">Choose Your Plan</h3>
    </div>

    <div class="flex justify-center items-center">
      <p class="mt-5 text-gray-700">
        Let's choose the package that is best for you and <br />
        explore it happily and cheerfully.
      </p>
    </div>

    <div class="flex justify-between items-center mx-32">
      <div
        class="flex justify-center items-center mt-5 border-gray-700 p-5 rounded-lg"
        style="border: 2px solid gray"
      >
        <div class="p-4">
          <img src="assets/plan.png" alt="" class="" />

          <h3 class="mt-4 font-montserrat text-center font-semibold">Free Plan</h3>

          <ul class="mt-5">
            <li class="flex justify-between items-center">
              <span class="mr-4" style="font-size: 20px">&#10004;</span> Unlimited Bandwidth
            </li>
            <li class="flex justify-between items-center">
              <span class="mr-4" style="font-size: 20px">&#10004;</span> Encrypted connection
            </li>
            <li class="flex justify-between items-center">
              <span class="mr-4" style="font-size: 20px">&#10004;</span> No Traffic Logs
            </li>
            <li class="flex justify-between items-center">
              <span class="mr-4" style="font-size: 20px">&#10004;</span> Works on all Devices
            </li>
          </ul>
        </div>
      </div>
      <div class="flex justify-center items-center mt-5 border-gray-700 p-5 rounded-lg" style="border: 2px solid gray">
        <div class="p-4">
          <img src="assets/plan.png" alt="" class="" />

          <h3 class="mt-4 font-montserrat text-center font-semibold">Free Plan</h3>

          <ul class="mt-5">
            <li class="flex justify-between items-center">
              <span class="mr-4" style="font-size: 20px">&#10004;</span> Unlimited Bandwidth
            </li>
            <li class="flex justify-between items-center">
              <span class="mr-4" style="font-size: 20px">&#10004;</span> Encrypted connection
            </li>
            <li class="flex justify-between items-center">
              <span class="mr-4" style="font-size: 20px">&#10004;</span> No Traffic Logs
            </li>
            <li class="flex justify-between items-center">
              <span class="mr-4" style="font-size: 20px">&#10004;</span> Works on all Devices
            </li>
          </ul>
        </div>
      </div>
      <div class="flex justify-center items-center mt-5 border-gray-700 p-5 rounded-lg" style="border: 2px solid gray">
        <div class="p-4">
          <img src="assets/plan.png" alt="" class="" />

          <h3 class="mt-4 font-montserrat text-center font-semibold">Free Plan</h3>

          <ul class="mt-5">
            <li class="flex justify-between items-center">
              <span class="mr-4" style="font-size: 20px">&#10004;</span> Unlimited Bandwidth
            </li>
            <li class="flex justify-between items-center">
              <span class="mr-4" style="font-size: 20px">&#10004;</span> Encrypted connection
            </li>
            <li class="flex justify-between items-center">
              <span class="mr-4" style="font-size: 20px">&#10004;</span> No Traffic Logs
            </li>
            <li class="flex justify-between items-center">
              <span class="mr-4" style="font-size: 20px">&#10004;</span> Works on all Devices
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
