<section class="mt-5">
  <div class="min-h-screen flex justify-center items-center cusom-container">
    <div>
      <h3 class="font-montserrat text-4xl md:text-5xl lg:text-6xl">Choose Your Plan</h3>
      <p class="mt-5 text-gray-700">
        Let's choose the package that is best for you and <br />
        explore it happily and cheerfully.
      </p>
    </div>

    <div class="flex justify-between items-center">
      <div class="border-slate-700 p-4">
        <img src="assets/plan.png" alt="" class="" />
      </div>
    </div>
  </div>
</section>
