<header class="p-8">
  <nav class="flex justify-between items-center cusom_container">
    <div>
      <div>
        <img src="assets/Logo.png" alt="" />
      </div>
    </div>

    <div>
      <ul class="flex justify-between items-center">
        @for (navitem of NavItems; track $index) {
          <li class="text-gray-800 font-inter mx-4">
            <a [href]="'#' + navitem.link">
              {{ navitem.label }}
            </a>
          </li>
        }
      </ul>
    </div>

    <div>
      <div class="flex justify-between items-center space-x-5">
        <div>
          <a href=""> Sign in </a>
        </div>
        <div class="mx-6">
          <a href="" class="navbutton"> Sign Up </a>
        </div>
      </div>
    </div>
  </nav>
</header>
