<section class="">
  <div class="min-h-screen flex items-center cusom_container">
    <div class="flex items-center">
      <div class="">
        <h1 class="font-montserrat text-4xl md:text-5xl lg:text-6xl">
          Want anything to be <br />
          easy with <span class="font-semibold">LaslesVPN</span>
        </h1>

        <p class="mt-5 text-gray-700">
          Provide a network for all your needs with ease and fun using
          <span class="font-medium"> LaslesVPN </span>
          <br />
          discover interesting features from us.
        </p>

        <div class="mt-10">
          <button class="button-82-pushable" role="button">
            <span class="button-82-shadow"></span>
            <span class="button-82-edge"></span>
            <span class="button-82-front text"> Get Started </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
